.title {
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    margin: 2rem 0;
    letter-spacing: 0.1rem;
}

.icon {
    color: var(--c-light-orange);
    margin-right: 0.2rem;
}

.line {
    margin: 1rem 0;
    width: 30%;
    border-top: 1px solid var(--c-black);
    position: absolute;
    transform: translateY(-50%) translateX(15%);
}